<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.udm_19journalfirestoreapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Util.JournalApi"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="My Journal"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UDM_19JournalFireStoreApp">
        <activity
            android:name=".Activities.JournalListActivity"
            android:label="News Feed"
            android:exported="false" />
        <activity
            android:name=".Activities.PostJournalActivity"
            android:label="What's on your mind"
            android:exported="false" />
        <activity
            android:name=".Activities.CreateAccountActivity"
            android:label="Create new Account"
            android:exported="false" />
        <activity
            android:name=".Activities.LoginActivity"
            android:label="Login Or SignUp"
            android:exported="false" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>